<footer>
    <div class="footer2" id="footer2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h4> The Lisa Maria Foundation </h4>
                    <p>
                      Certificate of Registration Number: LPF-158 <br> Voluntary Organisation Number VO/1014 
                    </p>
                    <p>
                      <a href="https://www.facebook.com/TheLisaMariaFoundation"><i class="fa fa-facebook-square mr-1"></i></a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                  <h4>Links</h4>
                    <ul>
                        <h5><li><a href="#">About Us</a></li></h5>
                        <h5><li><a href="{{ site.baseurl }}/board">The Board</a></li></h5>
                        <h5><li><a href="{{ site.baseurl }}/support">Support</a></li></h5>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <h4> Contact </h4>
                    <ul>
                        <li><a class="email"href="mailto:info@lisamaria-foundation.org"> info@lisamaria-foundation.org </a></li>
                        <br/>
                        <li> <p> Alpine House, Naxxar Road <br>San Gwann SGN 9032 </p> </li>
                        <li> <p> Tel: +356 25762302  </p> </li>
                    </ul>
                </div> 
                
                
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
                          
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left copyright"> <p>Copyright &copy 2019; Designed &amp; Developed by <a href="https://i2b.studio/">i2b Studio</a>. All rights reserved.</p>
        </div>
    </div>
    <!--/.footer-bottom--> 

</footer>