<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/board">The Board</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="{{ site.baseurl }}/blog">Latest</a></li>
            <li><a href="mailto:name@email.com"">Contact US</a></li>
          </ul>
        </div>
        <div>
          <p>
            The Lisa Maria Foundation. Alpine House, Naxxar Road, San Gwann, SGN 9032 Tel: +356 25762302 
          </p>
          <p>
            Certificate of Registration Number: LPF-158 • Voluntary Organisation Number VO/1014 
          </p>  
        </div>
    </div>
  </div>
</footer>
